{% block list %}
    <table class="table" id="datatable-table">
        <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Mobile</th>
            <th>Status</th>
            <th class="text-center">Action</th>

        </tr>
        </thead>
        <tbody>
        {% if items is defined and items|length >= 0 %}
            {% for items in items %}
                <tr class="gradeX">
                    <td>{{ items.id }}</td>
                    <td>{{ items.name }}</td>
                    <td>{{ items.email }}</td>
                    <td>{{ items.userrole.name }}</td>
                    <td>{{ items.mobile }}</td>
                    <td>
                        {% if items.status==1 %}
                            <span class="label label-success">Active</span>
                        {% else %}
                            <span class="label label-danger">Inactive</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{ path('admin_item_details',{'itemType':itemType,'id': items.id}) }}" data-toggle="modal" data-target="#myModal"><i class="glyph-icon icon-pencil" style="padding-left: 33px;"></i></a></li>
                                    <li> <a href="{{ path('set_status',{'itemType':itemType,'id': items.id}) }}" class="delete"><i class="glyph-icon icon-power-off" style="padding-left: 33px;" ></i></a></li>
                                    <li><a href="{{ path('set_del',{'itemType':itemType,'id': items.id}) }}" class="delete"><i class="glyph-icon icon-trash" style="padding-left: 33px;"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>

    </table>

{% endblock %}
